numpy==1.26.4
tiktoken
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.0.0+cu118
torchao==0.11.0
torchaudio==2.0.0+cu118
torchtune==0.6.1
torchvision==0.15.0+cu118
tqdm==4.65.0
transformers
wandb
datasets
zstandard
